.stars ul {
  display: inline-block;
  list-style: none;
  margin: 0 0 2em 0;
  padding-left: 0;
}
.stars > ul > li {
  display: inline-block;
  width: 1em;
  height: 1em;
}
.stars svg {
  max-width: 100%;
}

.btn-submit {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
