<div class="card">
  <div class="row no-gutters align-content-stretch">
    <div class="col-md-5" *ngIf="imageSize">
      <img [src]="'./assets/images/' + (data.image || 'image_not_found.jpg')" [alt]="data.title" [style.maxHeight.px]="imageSize" class="card-image">
    </div>
    <div class="col-md-7" #getSize>
      <div class="card-body">
        <h4 class="card-title">{{data.title}}</h4>
        <h5 class="card-title text-secondary">{{data.price}} ₽</h5>
        <p class="card-text">{{data.description}}</p>
        <div class="d-flex">
          <a [routerLink]="'card/' + data.id" class="btn btn-dark m-2">View</a>
          <a [routerLink]="'card/' + data.id + '/edit'" class="btn btn-dark m-2">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
